redirect /compendium-ta/uninstall.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/default.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/buynow.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/pricing.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/benfet.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/benfet.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/easy.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/easy.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/faq.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/faq.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/screens.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/screens.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/default.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/buynow.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/buynow.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/pricing.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/currentreadme.htm https://www.compendiumdev.co.uk/compendium-ta/releases/1_4_51.htm
redirect /compendium-ta/download.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/downloads.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/pricing.php&referrer=downloadpipe.com.au	https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/casestudies/index.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/casestudies.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirect /compendium-ta/ctainstall.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAonline.exe
redirect /compendium-ta/ctainstall.zip https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAonline.zip
redirect /compendium-ta/mctainstall.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAonline.exe
redirect /compendium-ta/mctainstall.zip https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAonline.zip
redirect /compendium-ta/ctaminimal.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAminimal.exe
redirect /compendium-ta/ctavb.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAvb.exe
redirect /compendium-ta/cta98MeNT.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTA98MeNT.exe
redirect /compendium-ta/patch1.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAupgrade.exe
redirect /compendium-ta/mpatch1.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/CTAupgrade.exe
redirect /compendium-ta/ctadbinstall.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/compdevdb1_3_46.exe
redirect /compendium-ta/mctadbinstall.exe https://www.compendiumdev.co.uk/compendium-ta/files/1_4_81/compdevdb1_3_46.exe

redirectmatch /compendium-ta/help/(.*) https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirectmatch /compendium-ta/casetudies/(.*)\.htm https://www.compendiumdev.co.uk/page.php?title=compendiumta
redirectmatch /compendium-ta/casetudies/(.*)\.php https://www.compendiumdev.co.uk/page.php?title=compendiumta
