<config><movie><controls><AutoStart>1</AutoStart><MovieWidth>489</MovieWidth><MovieHeight>497</MovieHeight><BackgroundColor>FFFFFF</BackgroundColor><MovieURL/><ShowLoadingMov>1</ShowLoadingMov><LoadingMovURL>movies/preload.swf</LoadingMovURL><ScaleLoadingMov>1</ScaleLoadingMov><LoadingMovPercentToLoad>20</LoadingMovPercentToLoad><LoadingMovMinDuration>2</LoadingMovMinDuration><ControllerColor>0000FF</ControllerColor><ShowFFRW>1</ShowFFRW><ShowAbout>0</ShowAbout><AboutBoxText>Demos of Compendium-TA in 
Action</AboutBoxText><ShowPercentLoadedText>1</ShowPercentLoadedText><PercentTextPosition>bottom</PercentTextPosition><HideTextWhenLoaded>1</HideTextWhenLoaded><ShowTimer>1</ShowTimer><TimeDisplayFormat>MM:SS</TimeDisplayFormat><ShowDuration>1</ShowDuration><ShowElapsedTime>1</ShowElapsedTime><TimeDisplayFont>Arial</TimeDisplayFont><TimeDisplayFontColor>000000</TimeDisplayFontColor></controls><menuproperties><position>left</position><background_color>FFFFFF</background_color><title>Compendium-TA Demos</title><title_color>000000</title_color><title_fontsize>14</title_fontsize><item_fontsize>12</item_fontsize><maintext_color>000099</maintext_color><maintexthilite_color>000033</maintexthilite_color><subtext_color>030303</subtext_color><play_in_sequence>0</play_in_sequence></menuproperties></movie><menutree>
<item><main><text>Introduction</text><url>movies/ctaintro.swf</url><fps>12</fps><width>407</width><height>100</height></main></item><item><main><text>Overview of Compendium-TA</text><url>movies/overview.swf</url><fps>1</fps><width>489</width><height>497</height></main></item><item><main><text>Create a Model</text><url>movies/createmodel.swf</url><fps>3</fps><width>489</width><height>497</height></main></item><item><main><text>Create a Graph</text><url>movies/creategraph.swf</url><fps>5</fps><width>489</width><height>497</height></main></item><item><main><text>Create a Hierarchy</text><url>movies/createhierarchy.swf</url><fps>4</fps><width>489</width><height>497</height></main></item></menutree></config>